* {
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
}

.Kotak{
    display: flex;
    gap: 40px;
    margin-top: 30px;
}

.Kotak1 {
    width: 100px;
    height: 100px;
    background-color: red;
}

.Kotak2 {
    width: 100px;
    height: 100px;
    background-color: green;
}

.Kotak3 {
    width: 100px;
    height: 100px;
    background-color: blue;
}