* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Kotak1 {
    width: 100px;
    height: 100px;
    background-color: red;
}

.Kotak2 {
    width: 100px;
    height: 100px;
    background-color: green;
}

.Kotak3 {
    width: 100px;
    height: 100px;
    background-color: blue;
}